@import "tailwindcss";

:root {
  color-scheme: dark;
  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-text: #e2e8f0;
  --color-primary: #00ff9d;
  --color-secondary: #06b6d4;
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

@theme {
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);
  --color-text: var(--color-text);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-sans);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-surface);
}

::-webkit-scrollbar-thumb {
  background-color: #475569;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #64748b;
}

.xterm-viewport {
  overflow-y: auto;
}